.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    bottom: 40px;
    left: 1800px;
    // background-color: rgb(103, 222, 76);
    background-color:#6d2946;
    position: sticky;
    z-index: 100;
    border-radius: 50%;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

    svg{
        color: white;
        font-size: 38px;
    }
}