.rfp {
    width: 200px;
}


.home-container {

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 40px;
}


.services-section {
    padding: 20px 100px;
    background-color: #6d2946;
    color: #fffef5;
    font-size: 45px;
    font-weight: 700;
    display: flex;

    @media (max-width : 1084px) {
        flex-direction: column;
        align-items: center;
        flex-direction: column-reverse;
       padding: 30px;

    }

    @media (max-width : 576px) {
        font-size: 25px;
    }
}


.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 15px;

    @media (max-width : 576px) {
        width: 100%;
        padding: 0;
    }
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;

    @media (max-width : 576px) {
        width: 100%;
        padding: 0;
    }
}

.pic1 {
    width: 500px;
    height: 480px;
    object-fit: contain;

    @media (max-width : 576px) {
        width: 300px;
        height: 300px;
        ;
    }

    @media (max-width : 476px) {
        width: 280px;
        height: 280px;
        ;
    }
}

.about-section {
    padding: 20px 100px;
    font-size: 24px;
    color: #6d2946cc;
    font-weight: 500;

    @media (max-width : 576px) {

        padding: 30px;
    }

}

.about-section p {
    margin-bottom: 40px;

    @media (max-width : 578px) {
        font-size: 20px;
    }

}

.about-section h3 {
    margin-bottom: 10px;

}

.h1 {
    font-size: 45px;
    color: rgba(57, 12, 20, 255);
    margin-bottom: 20px;

    @media (max-width : 576px) {

        font-size: 35px;
    }
}

.banner {
    background-color: #6d2946;
    height: 100px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width : 1084px) {
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        gap: 30px;
        padding: 30px;
    }

}

.items {
    display: flex;
    font-size: 25px;
    align-items: center;
    gap: 10px;
    color: #fffef5;
    font-size: 18px;
    font-weight: bold;

}

.item1 {
    width: 75px;

}

.item2 {
    width: 75px;
}

.item3 {
    width: 75px;
}

.item4 {
    width: 75px;
}

.para {
    line-height: 75px;

    @media (max-width : 576px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


}

.span1 {
    display: block;
    width: max-content;
}

.span2 {
    display: block;
    width: max-content;
}

.span3 {
    display: block;
    width: max-content;
    color: rgba(57, 12, 20, 255);
    font-weight: 900;
}

.our-services {
    @media (max-width : 576px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.our-services svg {
    color: #fffef5;
    font-size: 150px;
    transition: 0.35s all ease;

    @media (max-width : 576px) {
        font-size: 100px;
    }

}

.our-services svg:hover {
    color: #390c14;

}

.to {
    color: rgba(57, 12, 20, 255);
    font-weight: 900;
}







.last-portion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    background-color: #e2e2e2;

    @media (max-width : 576px) {
        padding: 30px;
        font-size: 25px;
    }
}

.text {
    font-size: 48px;
    color: #390c14;
    font-weight: 700;
    margin-bottom: 50px;

    @media (max-width : 576px) {

        font-size: 35px;
    }

}

.things {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    justify-content: space-evenly;
    color: #732d4d;
    font-size: 18px;
    font-weight: 500;
    flex-wrap: wrap;
    width: 100%;


}


.thing {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    background-color: #f6f6f6;
    width: 260px;
    height: 100px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    transition: 0.40s ease;

    @media (max-width : 376px) {

        width: 200px;
    }
}



.thing:hover {
    scale: 1.1;
}

.thing img {
    width: 60px;
    height: 60px;
}

.thing p {
    font-weight: 600;
    font-size: 18px;
    width: 100%;
}

.slogan-footer {
    background-color: #6d2946;
    font-size: 40px;
    font-weight: 700;
    color: #fffef5;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    @media (max-width : 576px) {

        padding: 30px;
    }

}

.slogan-footer h1 {
    font-size: 40px;
    text-align: center;

    @media (max-width : 576px) {

        font-size: 30px;
    }
}

.slogan-footer span {
    font-size: 40px;
    opacity: 0.5;
    text-align: center;

    @media (max-width : 576px) {

        font-size: 30px;
    }
}