.our-offering {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    align-items: center;
    color: rgba(57, 12, 20, 255);
    gap: 20px;
    

    @media (max-width : 578px) {
        padding: 30px;
    }

}


.offering-title {
    font-size: 48px;
    margin-bottom: 10px;

    @media (max-width : 578px) {
        font-size: 24px;
    }
}

.offering-container {
    display: flex;
    align-items: center;
    gap: 35px;

    @media (max-width : 1084px) {
        flex-direction: column;
        align-items: center;
        /* flex-direction: column-reverse; */
    }
}

.offering-item {
    background-color: #f6f6f6;
    min-height: 500px;
    border-radius: 10px;
}

.lower-sec {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lower-sec .readmore {
    cursor: pointer;
    padding: 5px;
    width: max-content;
    color: #6d2946c4;
}

.lower-sec .readmore:hover {
    background-color: #6d2946c4;
    color: #fffef5;
    border-radius: 8px;
}

.title-offering {
    font-size: 24px;
    font-weight: 600;
    color: #6d2946e9;
    cursor: pointer;
}

.offering-item img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.35s all ease-in-out;
    border-radius: 10px 10px 0 0;
    @media (max-width : 478px) {
        width: 290px;
    }
}

.offering-item img:hover {
    opacity: 0.5;
    background-color: gray;
}