.header {
    background-color: #fffef5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 10px 100px;
    position: sticky;
    top: 0;
    height: 130px;
    z-index: 200;

    @media (max-width : 578px) {
        padding: 30px;
        height: 50px;
    }

}

.logo {

    border-radius: 5px;
    width: 130px;
    padding: 10px;
    cursor: pointer;

    @media (max-width : 578px) {
        width: 90px;
    }
}

.logo:hover {
    opacity: 0.8;
}

.link-container {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;

    @media(max-width : 1084px) {
        display: none;
    }
}

.links {
    color: rgba(108, 41, 70, 255);
    border-radius: none;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 3px solid white;

}

.links:hover {
    border-bottom: 3px solid gray;
    color: gray;
}

.shedule-button {
    border-radius: 12px;
    padding: 15px 18px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: rgba(57, 12, 20, 255);
    color: rgba(255, 254, 245, 255);
    transition: 0.35s all ease;

    @media(max-width : 1084px) {
        display: none;
    }
}

.shedule-button:hover {
    color: #6d2946;
    background-color: #fffef5;
    scale: 1.1;
}

.hamburgerMenu {
    display: none;

    >svg {
        font-size: 37px;
        color: #6d2946;
        cursor: pointer;
    }

    @media (max-width: 1084px) {
        display: flex;
    }


}

.hamMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #6d2946;
    box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 1), 0 1px 2px -1px rgba(255, 255, 255, 0.9);
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    width: 250px;
    height: 350px;
    border-radius: 0 0 0 30px;

    @media (max-width : 578px) {
        width: 100%;
        align-items: center;
        padding: 0px;
        border-radius: 0;
        padding-top: 10px;
        font-size: 18px;
    }

    @media (min-width: 1084px) {
        display: none;
    }

    .menulinks {
        text-decoration: none;
        color: white;
        margin-top: 10px;
    }

    .shedule-button-menu {
        background-color: white;
        color: #6d2946;
        padding: 10px;
        border-radius: 10px;
        font-size: 17px;
    }


    .close {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
        color: white;

        @media (max-width : 578px) {
            top: 20px;
            left: 18px;
        }
    }
}