.about-section {
    padding: 20px 100px;
    font-size: 26px;
    color: #6d2946cc;
    font-weight: 500;



}
.about-section h1 {
    font-size: 45px;
    color: rgba(57, 12, 20, 255);
    margin-bottom: 20px;
}